extends layout

block content

	content(id="infrastructureDetails")
		div(class="flexRow")
			div(class="flexColumn")
				div(id="infrastructureAddCore")
					label(id="infrastructureID")= data['databaseInformation']['id']
					ul
						li
							- if (data['mode'] == 'edit') {
									input(type="text" id="infrastructureNameField" value= data['databaseInformation']['name'])
							- } else {
									input(type="text" id="infrastructureNameField" placeholder="Name")
							- }
						li
							div(id="infrastructureAddCoreCategory")
								- if (data['mode'] == 'edit') {
										select(id="infrastructureCategoryField")
											- for (counter = 0; counter < data['databaseInformation']['categories'].length; counter++) {
													-	if (data['databaseInformation']['category'] == data['databaseInformation']['categories'][counter]) {
															option(selected)= data['databaseInformation']['categories'][counter]
													- } else {
															option= data['databaseInformation']['categories'][counter]
													- }
											- }
								- } else {
										select(id="infrastructureCategoryField")
											- for (counter = 0; counter < data['databaseInformation']['categories'].length; counter++) {
													option= data['databaseInformation']['categories'][counter]
											- }
								- }
								input(type="button" id="midAddAddCategoryButton" value="Add Category")
						li
							div(id="infrastructureAddCoreGroup")
								- if (data['mode'] == 'edit') {
										select(id="infrastructureGroupField")
											-	if (data['databaseInformation']['group'] == "") {
													option(selected) No Group
											- } else {
													option No Group
											- }
											- for (counter = 0; counter < data['databaseInformation']['groups'].length; counter++) {
													-	if (data['databaseInformation']['group'] == data['databaseInformation']['groups'][counter]) {
															option(selected)= data['databaseInformation']['groups'][counter]
													- } else {
															option= data['databaseInformation']['groups'][counter]
													- }
											- }
								- } else {
										select(id="infrastructureGroupField")
											option(selected) No Group
											- for (counter = 0; counter < data['databaseInformation']['groups'].length; counter++) {
													option= data['databaseInformation']['groups'][counter]
											- }
								- }
									
								input(type="button" id="midAddAddGroupButton" value="Add Group")
					- if (data['mode'] == "edit") {
						input(id="infrastructureCancelEditButton" type="button" value="Cancel")
						input(id="infrastructureEditFinishButton" type="button" value="Update")
					- } else {
						input(id="infrastructureBackButton" type="button" value="Back")
						input(id="infrastructureFinishButton" type="button" value="Finish")
					- }
				div(id="infrastructureAddExtra")
					h2 Add a Field
					div(id="infrastructureAddExtraAddField")
						input(type="text" id="addFieldName" placeholder="Name")
						select(id="addFieldType")
							option Text
							option Date
						input(type="button" id="addFieldSubmit" value="Add Field")
					ul(id="fieldAreas")
						- for (i=0; i<data['databaseInformation']['technicalInformation'].length; i++) {
							- if (data['databaseInformation']['technicalInformation'][i]['informationLabel'] != "") {
									li(class="additionalFieldSection", id="row" + i)
										label= data['databaseInformation']['technicalInformation'][i]['informationLabel']
										input(type= data['databaseInformation']['technicalInformation'][i]['fieldType'], value= data['databaseInformation']['technicalInformation'][i]['fieldValue'])
										input(type="button", value="Delete", class="deleteExtraAttribute", id="button" + i)
							-}
						-}
			div(class="flexColumn")
				- if (data['mode'] == "edit") {
					textarea(id="infrastructureDescription" maxlength="200" rows="10" placeholder="Description")= data['databaseInformation']['description']
				- } else {
					textarea(id="infrastructureDescription" maxlength="200" rows="10" placeholder="Description")
				- }
				div(id="infrastructurePDFs")
					p PDFs HERE