extends layout

block content
  
  content(class="groupByCategory visible")
    - if (data['infrastructureCategory'].length>0) {
      
      - if (data['searchCriteria'] != "") {
          div(id="searchCriteriaDiv")
            h1(id="searchCriteriaMessage")= "Showing Results for: " + data['searchCriteria']
            form(method="GET", action="#")
              input(type="submit", value="Clear Search")
          hr
      - } 
      
      - for (var counter = 0; counter < data['infrastructureCategory'].length; counter++) {
          category
            h1(class="categoryTitle")= data['infrastructureCategory'][counter]['categoryName']
            div(class="tableHeadings")
              label Name
              label Group
              label 
            - grey = true;
            - for (var counter2 = 0; counter2 < data['infrastructureCategory'][counter]['infrastructure'].length; counter2++) {
                - if (data['infrastructureCategory'][counter]['infrastructure'][counter2][1] == null) {
                    - group = "None";
                - } else {
                    - group = data['infrastructureCategory'][counter]['infrastructure'][counter2][1];
                - }
              
                - if (grey) {
                    row(class="grey")
                      p(class="itemName")= data['infrastructureCategory'][counter]['infrastructure'][counter2][0]
                      p(class="itemGroup")= group
                      form(action="./infrastructureInformation")
                        input(type="hidden" name="infrastructureID" value=data['infrastructureCategory'][counter]['infrastructure'][counter2][2])
                        input(class="itemButton" type="submit" value="+")
                - } else {
                    row
                      p(class="itemName")= data['infrastructureCategory'][counter]['infrastructure'][counter2][0]
                      p(class="itemGroup")= group
                      form(action="./infrastructureInformation")
                        input(type="hidden" name="infrastructureID" value=data['infrastructureCategory'][counter]['infrastructure'][counter2][2])
                        input(class="itemButton" type="submit" value="+")
                - }
                - if (grey) {
                    - grey = false;
                - } else {
                    - grey = true;
                - }
            - }
          hr
      - }
    - } else {
        - if (data['searchCriteria'] == "") {
            div(id="emptyContentMessage")
                h1= "No Infrastructure"
                h1= "Add some to get started!"
        - } else {
            div(id="emptyContentMessage")
                h1= "No results for " + data['searchCriteria']
                div(id="searchCriteriaDivBottom")
                    form(method="GET", action="#")
                        input(type="submit", value="Clear Search")
        - }
    - }
  content(class="groupByGroup")
    - if (data['groupCategory'].length > 0) {

      - if (data['searchCriteria'] != "") {
          div(id="searchCriteriaDiv")
            h1(id="searchCriteriaMessage")= "Showing Results for: " + data['searchCriteria']
            form(method="GET", action="#")
              input(type="submit", value="Clear Search")
          hr
      - } 

      - for (var counter = 0; counter < data['groupCategory'].length; counter++) {
          category
            h1(class="categoryTitle")= data['groupCategory'][counter]['groupName']
            div(class="tableHeadings")
              label Name
              label Category
              label 
            - grey = true;
            - for (var counter2 = 0; counter2 < data['groupCategory'][counter]['infrastructure'].length; counter2++) {
    
                - group = data['groupCategory'][counter]['infrastructure'][counter2][1];
              
                - if (grey) {
                    row(class="grey")
                      p(class="itemName")= data['groupCategory'][counter]['infrastructure'][counter2][0]
                      p(class="itemGroup")= group
                      form(action="./infrastructureInformation")
                        input(type="hidden" name="infrastructureID" value=data['groupCategory'][counter]['infrastructure'][counter2][2])
                        input(class="itemButton" type="submit" value="+")
                - } else {
                    row
                      p(class="itemName")= data['groupCategory'][counter]['infrastructure'][counter2][0]
                      p(class="itemGroup")= group
                      form(action="./infrastructureInformation")
                        input(type="hidden" name="infrastructureID" value=data['groupCategory'][counter]['infrastructure'][counter2][2])
                        input(class="itemButton" type="submit" value="+")
                - }
                - if (grey) {
                    - grey = false;
                - } else {
                    - grey = true;
                - }
            - }
          hr
      - }
    - } else {
        - if (data['searchCriteria'] == "") {
            div(id="emptyContentMessage")
                h1= "No Infrastructure"
                h1= "Add some to get started!"
        - } else {
            div(id="emptyContentMessage")
                h1= "No results for " + data['searchCriteria']
                div(id="searchCriteriaDivBottom")
                    form(method="GET", action="#")
                        input(type="submit", value="Clear Search")
        - }
    - }