extends layout

block content
  content(class="visible")
    category
      -if (data['groupInformation'].length > 0) {
        - if (data['searchCriteria'] != "") {
            div(id="searchCriteriaDiv")
              h1(id="searchCriteriaMessage")= "Showing Results for: " + data['searchCriteria']
              form(method="GET", action="#")
                input(type="submit", value="Clear Search")
            hr
        - } 
        h1(class="categoryTitle") All Accounts
        div(class="tableHeadings")
          label Username
          label Account
          label 

        -grey = true;
        -for (i = 0; i < data['groupInformation'].length; i++) {

          -if (grey) {
            row(class="grey")
              p(class="itemName")= data['groupInformation'][i]['username']
              p(class="itemGroup")= data['groupInformation'][i]['name']
              input(id=data['groupInformation'][i]['id'], class="passwordButton", type="button", value="+")
          -} else {
            row
              p(class="itemName")= data['groupInformation'][i]['username']
              p(class="itemGroup")= data['groupInformation'][i]['name']
              input(id=data['groupInformation'][i]['id'], class="passwordButton", type="button", value="+")
          -}
          -grey = !grey;
        -}
      - } else {
          - if (data['searchCriteria'] == "") {
              div(id="emptyContentMessage")
                  h1= "No Infrastructure"
                  h1= "Add some to get started!"
          - } else {
              div(id="emptyContentMessage")
                  h1= "No results for " + data['searchCriteria']
                  div(id="searchCriteriaDivBottom")
                      form(method="GET", action="#")
                          input(type="submit", value="Clear Search")
          - }
      - }